.header {
  width: 100%;
  background: #fff none repeat scroll 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.navigator > ul {
  display: flex;
  justify-content: center; }
  .navigator > ul > li > a {
    color: #bdbdbd;
    display: block;
    line-height: 12px;
    margin-top: 30px;
    padding: 39px 55px 46px; }
    .navigator > ul > li > a > i {
      display: block;
      font-size: 24px;
      line-height: 19px;
      text-align: center; }
    .navigator > ul > li > a > span {
      display: block;
      font-size: 16px;
      padding-top: 20px;
      position: relative;
      text-transform: uppercase; }
  .navigator > ul > li > a:hover > i,
  .navigator > ul > li > a:hover > span {
    color: #212121; }

.nav-active {
  border-bottom: 2px solid #00c853;
  color: #212121; }
  .nav-active > i,
  .nav-active > span {
    color: #212121; }
